<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>codeandweb</key>
        <dict>
            <key>generator</key>
            <string>TexturePacker 3.6.0 - http://www.codeandweb.com/texturepacker</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a657733030e9c595bf919682b4a1e8d8:79fc7603e872611a3e120cf7536750a8:24ee67fa98e4d8e2ff03040a0750e08b$</string>
        </dict>
        <key>format</key>
        <string>APPL</string>
        <key>images</key>
        <array>
            <dict>
                <key>path</key>
                <string>world.1@3x.png</string>
                <key>size</key>
                <string>{2048,2048}</string>
                <key>subimages</key>
                <array>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>banner@3x.png</string>
                        <key>spriteOffset</key>
                        <string>{0,0}</string>
                        <key>spriteSourceSize</key>
                        <string>{764,188}</string>
                        <key>textureRect</key>
                        <string>{{2,2},{764,188}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>tile_fear@3x.png</string>
                        <key>spriteOffset</key>
                        <string>{2,2}</string>
                        <key>spriteSourceSize</key>
                        <string>{561,395}</string>
                        <key>textureRect</key>
                        <string>{{768,2},{558,392}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>tile_happiness@3x.png</string>
                        <key>spriteOffset</key>
                        <string>{1,1}</string>
                        <key>spriteSourceSize</key>
                        <string>{559,393}</string>
                        <key>textureRect</key>
                        <string>{{1328,2},{557,384}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>potion_happiness@3x.png</string>
                        <key>spriteOffset</key>
                        <string>{0,0}</string>
                        <key>spriteSourceSize</key>
                        <string>{135,154}</string>
                        <key>textureRect</key>
                        <string>{{1887,2},{135,154}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>tile_anger@3x.png</string>
                        <key>spriteOffset</key>
                        <string>{3,5}</string>
                        <key>spriteSourceSize</key>
                        <string>{559,394}</string>
                        <key>textureRect</key>
                        <string>{{1328,388},{554,384}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>tile_sadness@3x.png</string>
                        <key>spriteOffset</key>
                        <string>{7,1}</string>
                        <key>spriteSourceSize</key>
                        <string>{556,394}</string>
                        <key>textureRect</key>
                        <string>{{2,192},{548,388}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>button_up@3x.png</string>
                        <key>spriteOffset</key>
                        <string>{24,23}</string>
                        <key>spriteSourceSize</key>
                        <string>{252,252}</string>
                        <key>textureRect</key>
                        <string>{{552,192},{205,205}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>wishing_well@3x.png</string>
                        <key>spriteOffset</key>
                        <string>{0,0}</string>
                        <key>spriteSourceSize</key>
                        <string>{267,400}</string>
                        <key>textureRect</key>
                        <string>{{759,396},{267,400}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>button_down@3x.png</string>
                        <key>spriteOffset</key>
                        <string>{0,0}</string>
                        <key>spriteSourceSize</key>
                        <string>{252,252}</string>
                        <key>textureRect</key>
                        <string>{{1028,396},{252,252}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>icon_fear@3x.png</string>
                        <key>spriteOffset</key>
                        <string>{0,0}</string>
                        <key>spriteSourceSize</key>
                        <string>{234,237}</string>
                        <key>textureRect</key>
                        <string>{{1028,650},{234,237}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>icon_happiness@3x.png</string>
                        <key>spriteOffset</key>
                        <string>{0,0}</string>
                        <key>spriteSourceSize</key>
                        <string>{234,237}</string>
                        <key>textureRect</key>
                        <string>{{2,582},{234,237}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>icon_sadness@3x.png</string>
                        <key>spriteOffset</key>
                        <string>{0,0}</string>
                        <key>spriteSourceSize</key>
                        <string>{234,237}</string>
                        <key>textureRect</key>
                        <string>{{238,582},{234,237}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>icon_anger@3x.png</string>
                        <key>spriteOffset</key>
                        <string>{0,0}</string>
                        <key>spriteSourceSize</key>
                        <string>{228,230}</string>
                        <key>textureRect</key>
                        <string>{{474,582},{228,230}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                </array>
            </dict>
            <dict>
                <key>path</key>
                <string>world.1@2x.png</string>
                <key>size</key>
                <string>{1024,1024}</string>
                <key>subimages</key>
                <array>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>banner@2x.png</string>
                        <key>spriteOffset</key>
                        <string>{0,0}</string>
                        <key>spriteSourceSize</key>
                        <string>{509,125}</string>
                        <key>textureRect</key>
                        <string>{{2,2},{509,125}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>tile_fear@2x.png</string>
                        <key>spriteOffset</key>
                        <string>{2,4}</string>
                        <key>spriteSourceSize</key>
                        <string>{374,263}</string>
                        <key>textureRect</key>
                        <string>{{513,2},{371,255}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>potion_happiness@2x.png</string>
                        <key>spriteOffset</key>
                        <string>{0,0}</string>
                        <key>spriteSourceSize</key>
                        <string>{90,103}</string>
                        <key>textureRect</key>
                        <string>{{886,2},{90,103}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>tile_anger@2x.png</string>
                        <key>spriteOffset</key>
                        <string>{3,6}</string>
                        <key>spriteSourceSize</key>
                        <string>{373,263}</string>
                        <key>textureRect</key>
                        <string>{{2,129},{368,252}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>button_up@2x.png</string>
                        <key>spriteOffset</key>
                        <string>{16,15}</string>
                        <key>spriteSourceSize</key>
                        <string>{168,168}</string>
                        <key>textureRect</key>
                        <string>{{372,129},{137,137}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>tile_happiness@2x.png</string>
                        <key>spriteOffset</key>
                        <string>{6,5}</string>
                        <key>spriteSourceSize</key>
                        <string>{373,262}</string>
                        <key>textureRect</key>
                        <string>{{511,259},{365,252}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>tile_sadness@2x.png</string>
                        <key>spriteOffset</key>
                        <string>{7,3}</string>
                        <key>spriteSourceSize</key>
                        <string>{371,263}</string>
                        <key>textureRect</key>
                        <string>{{2,383},{362,254}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>wishing_well@2x.png</string>
                        <key>spriteOffset</key>
                        <string>{0,0}</string>
                        <key>spriteSourceSize</key>
                        <string>{178,267}</string>
                        <key>textureRect</key>
                        <string>{{2,639},{178,267}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>button_down@2x.png</string>
                        <key>spriteOffset</key>
                        <string>{0,0}</string>
                        <key>spriteSourceSize</key>
                        <string>{168,168}</string>
                        <key>textureRect</key>
                        <string>{{182,639},{168,168}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>icon_fear@2x.png</string>
                        <key>spriteOffset</key>
                        <string>{1,0}</string>
                        <key>spriteSourceSize</key>
                        <string>{156,158}</string>
                        <key>textureRect</key>
                        <string>{{182,809},{154,158}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>icon_happiness@2x.png</string>
                        <key>spriteOffset</key>
                        <string>{1,0}</string>
                        <key>spriteSourceSize</key>
                        <string>{156,158}</string>
                        <key>textureRect</key>
                        <string>{{338,809},{154,158}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>icon_sadness@2x.png</string>
                        <key>spriteOffset</key>
                        <string>{1,0}</string>
                        <key>spriteSourceSize</key>
                        <string>{156,158}</string>
                        <key>textureRect</key>
                        <string>{{352,639},{154,158}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>icon_anger@2x.png</string>
                        <key>spriteOffset</key>
                        <string>{1,2}</string>
                        <key>spriteSourceSize</key>
                        <string>{152,153}</string>
                        <key>textureRect</key>
                        <string>{{494,799},{150,150}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                </array>
            </dict>
            <dict>
                <key>path</key>
                <string>world.1.png</string>
                <key>size</key>
                <string>{512,512}</string>
                <key>subimages</key>
                <array>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>banner.png</string>
                        <key>spriteOffset</key>
                        <string>{0,0}</string>
                        <key>spriteSourceSize</key>
                        <string>{255,63}</string>
                        <key>textureRect</key>
                        <string>{{2,2},{255,63}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>tile_fear.png</string>
                        <key>spriteOffset</key>
                        <string>{1,3}</string>
                        <key>spriteSourceSize</key>
                        <string>{187,132}</string>
                        <key>textureRect</key>
                        <string>{{259,2},{185,126}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>potion_happiness.png</string>
                        <key>spriteOffset</key>
                        <string>{0,0}</string>
                        <key>spriteSourceSize</key>
                        <string>{45,51}</string>
                        <key>textureRect</key>
                        <string>{{446,2},{45,51}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>tile_anger.png</string>
                        <key>spriteOffset</key>
                        <string>{2,3}</string>
                        <key>spriteSourceSize</key>
                        <string>{186,131}</string>
                        <key>textureRect</key>
                        <string>{{2,67},{183,125}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>button_up.png</string>
                        <key>spriteOffset</key>
                        <string>{8,7}</string>
                        <key>spriteSourceSize</key>
                        <string>{84,84}</string>
                        <key>textureRect</key>
                        <string>{{187,67},{69,69}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>tile_happiness.png</string>
                        <key>spriteOffset</key>
                        <string>{4,3}</string>
                        <key>spriteSourceSize</key>
                        <string>{186,131}</string>
                        <key>textureRect</key>
                        <string>{{258,130},{180,126}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>tile_sadness.png</string>
                        <key>spriteOffset</key>
                        <string>{3,3}</string>
                        <key>spriteSourceSize</key>
                        <string>{185,131}</string>
                        <key>textureRect</key>
                        <string>{{2,194},{180,125}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>icon_anger.png</string>
                        <key>spriteOffset</key>
                        <string>{2,2}</string>
                        <key>spriteSourceSize</key>
                        <string>{76,77}</string>
                        <key>textureRect</key>
                        <string>{{184,194},{71,73}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>wishing_well.png</string>
                        <key>spriteOffset</key>
                        <string>{0,0}</string>
                        <key>spriteSourceSize</key>
                        <string>{89,133}</string>
                        <key>textureRect</key>
                        <string>{{2,321},{89,133}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>button_down.png</string>
                        <key>spriteOffset</key>
                        <string>{0,0}</string>
                        <key>spriteSourceSize</key>
                        <string>{84,84}</string>
                        <key>textureRect</key>
                        <string>{{93,321},{84,84}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>icon_fear.png</string>
                        <key>spriteOffset</key>
                        <string>{2,2}</string>
                        <key>spriteSourceSize</key>
                        <string>{78,79}</string>
                        <key>textureRect</key>
                        <string>{{93,407},{74,76}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>icon_happiness.png</string>
                        <key>spriteOffset</key>
                        <string>{2,2}</string>
                        <key>spriteSourceSize</key>
                        <string>{78,79}</string>
                        <key>textureRect</key>
                        <string>{{169,407},{74,76}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>icon_sadness.png</string>
                        <key>spriteOffset</key>
                        <string>{2,2}</string>
                        <key>spriteSourceSize</key>
                        <string>{78,79}</string>
                        <key>textureRect</key>
                        <string>{{179,321},{74,76}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                </array>
            </dict>
        </array>
        <key>version</key>
        <integer>1</integer>
    </dict>
</plist>
